include mixins/mixin
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="description" content="Умная доставка материалов для сложных строительных площадок")
		title Document
		link(rel='icon' href='./favicon.ico' type='image/x-icon')
		link(rel="stylesheet" type="text/css" href="static/css/normalize.css")
		link(rel="stylesheet" type="text/css" href="static/css/libs/swiper/swiper.min.css")
		link(rel="stylesheet" type="text/css" href="static/css/styles.css")
	body
		header.hero
			.hero__top
				.header
					.header__wrapper
						.header__box
							.header__logo.header_over
								a.logo(href="./")
									+svg('logo', 'logo__icon logo__item')
									span.logo__text.logo__item стройконтроль
							.header__burger.header_over
								.burger
									span.burger__decor
							.header__right
								.header__menu
									nav.menu
										ul.menu__list
											li.menu__item
												a.menu__link(href="#about") О нас
											li.menu__item
												a.menu__link(href="#delivery") Продукция
											li.menu__item
												a.menu__link(href="#features") Процесс
											li.menu__item
												a.menu__link(href="#reliability") Надежность
											li.menu__item
												a.menu__link(href="#compliments") Клиенты
											li.menu__item
												a.menu__link.js-modal__link(href="#" data-modal="modal-form") Связаться с нами
								button.header__button.js-modal__link(data-modal="modal-default") Заказать демо
			.hero__body
				.wrapper
					.hero__content
						.hero__text
							.hero__title
								h1.title Умная доставка материалов для сложных строительных площадок
							.hero__buttons
								button.button.button_primary.hero__buttons-item.js-modal__link(data-modal="modal-default") Заказать демо
								button.button.hero__buttons-item.js-modal__link(data-modal="modal-default") Подробнее
						.hero__bg
							+webpResp('hero__pic', 'hero', 'png', 'background', '1200')

									
		main.content
			.wrapper
				section.advantages
					h2.title.hidden advantages
					.advantages__body
						.advantages__item
							+svgTrue('graph', 'advantages__icon')
							p.advantages__title Повышение эффективности
							p.advantages__descr Эффективные проекты стоят дешевле и завершаются в срок.
						.advantages__item
							+svgTrue('round', 'advantages__icon')
							p.advantages__title Снижение потерь
							p.advantages__descr Тщательно отслеживайте движение стройматериалов, чтобы избежать краж и повреждений.
						.advantages__item
							+svgTrue('safe', 'advantages__icon')
							p.advantages__title Повышение безопасности
							p.advantages__descr Обеспечьте здоровье и благополучие людей, работающих на вашей площадке.
				section.chaos
					.chaos__text
						h2.section-title Строительство - это хаос
						p.section-descr Хаос может быть удивительной творческой силой, воздвигающая новые здания из пыли. Хаос вызывает несчастные случаи, задержки и потери. Он вводит проекты в стресс и разочарование. Это означает, что вы действительно не контролируете ситуацию. 
					.chaos__bg
						+webpResp('chaos__pic', 'chaos', 'png', 'background')
				section.appeal
					.appeal__text
						h2.section-title Пора навести порядок на вашей стройплощадке и взять под контроль свой проект
				section.care
					.care__body
						.care__text.care__item
							h2.section-title Мы заботимся о доставке на стройплощадку и о людях, которые на них рассчитывают
							p.section-descr Мы знаем всё о гордости от сияющего нового здания. Нам также известно всё о разочаровании от попыток завершить проект в срок и в рамках бюджета.
							span.line-decor Мы здесь, чтобы помочь.
						.care__bg.care__item
							+webp('care__pic bg-pic', 'care', 'png', 'care')
				section.partners
					.partners__slider
						.partners-wrapper.swiper-wrapper
							.swiper-slide.partner
								.partner__bg
									+webp('partner__pic', 'firm-1', 'png', 'partner')
							.swiper-slide.partner
								.partner__bg
									+webp('partner__pic', 'firm-2', 'png', 'partner')
							.swiper-slide.partner
								.partner__bg
									+webp('partner__pic', 'firm-3', 'png', 'partner')
							.swiper-slide.partner
								.partner__bg
									+webp('partner__pic', 'firm-4', 'png', 'partner')
							.swiper-slide.partner
								.partner__bg
									+webp('partner__pic', 'firm-5', 'png', 'partner')


				section.about#about
					.about__title
						h2.section-title Что такое СтройКонтроль?
						p.section-descr СтройКонтроль - это интеллектуальная система управления доставкой, предоставляющая информацию и контроль материалов на сложных строительных площадках в режиме реального времени.
					.about__capabilities
						.about__item.capability
							.capability__text.capability__item
								span.capability__title Отслеживайте доставку по всей цепочке поставок
								p.capability__descr От поставщика до субподрядчика - вы всегда знаете, где находятся ваши материалы, благодаря чему обычные отходы уходят в прошлое и сокращаются несчастные случаи на месте.
							.capability__bg.capability__item
								+webp('capability__pic bg-pic', 'delivery', 'png', 'capability')
						.about__item.capability
							.capability__text.capability__item
								span.capability__title Оптимизируйте и контролируйте свое прибытие на место
								p.capability__descr Транспортные средства доставки прибывают в фиксированные промежутки времени в заранее назначенные отсеки, где разгрузочное оборудование готово и ждет их.
							.capability__bg.capability__item
								+webp('capability__pic bg-pic', 'optimization', 'png', 'capability')
						.about__item.capability
							.capability__text.capability__item
								span.capability__title Возьмите под контроль данные в режиме реального времени
								p.capability__descr Интеллектуальная отчетность дает вам возможность принимать решения в зависимости от того, как обстоят дела в данный момент. Больше никаких ручных отчетов по заливке бетона или ежемесячной проверки 10.000 накладных со счетами, все это доступно онлайн без каких-либо усилий.
							.capability__bg.capability__item
								+webp('capability__pic bg-pic', 'user', 'png', 'capability')
				

				section.delivery#delivery
					.delivery__header
						h2.section-title Доставка стала проще
						p.section-descr Мы позаботимся обо всех ваших различных поставках и их многочисленных специализированных требованиях к разгрузке.
					.delivery__content
						.delivery__item
							+svgTrue('car', 'delivery__icon')
							.delivery__text
								span.delivery__title Бетон
								p.delivery__descr Поставки бетона точно планируются, а его состояние контролируется, что обеспечивает максимально возможное время для установки.
						.delivery__item
							+svgTrue('removal', 'delivery__icon')
							.delivery__text
								span.delivery__title Утилизация отходов
								p.delivery__descr Отходы контролируются и сортируются, а заполненность контейнеров отслеживается в цифровом виде.
						.delivery__item
							+svgTrue('Formwork', 'delivery__icon')
							.delivery__text
								span.delivery__title Опалубка
								p.delivery__descr Вся опалубка отслеживается от прибытия до отправления, а ее состояние контролируется, что сводит к минимуму потери и повреждения.
						.delivery__item
							+svgTrue('Precasts', 'delivery__icon')
							.delivery__text
								span.delivery__title Сборные панели
								p.delivery__descr Сборные панели прибывают по очереди, их хранение на месте отслеживается, а их установка планируется и контролируется.
						.delivery__item
							+svgTrue('Facades', 'delivery__icon')
							.delivery__text
								span.delivery__title Фасады
								p.delivery__descr Элементы фасада поступают последовательно, их сборка контролируется, а перемещение отслеживается.
						.delivery__item
							+svgTrue('Fit-out', 'delivery__icon')
							.delivery__text
								span.delivery__title Отделка
								p.delivery__descr Материалы поступают точно в срок, маркируются и детально отслеживаются для установки.
						.delivery__item
							+svgTrue('Scaffolding', 'delivery__icon')
							.delivery__text
								span.delivery__title Строительные леса
								p.delivery__descr Строительные леса отслеживаются от получения до хранения, использования и возврата, поэтому всегда ясно, что на месте и где.
						.delivery__item
							+svgTrue('tractor', 'delivery__icon')
							.delivery__text
								span.delivery__title Оборудование
								p.delivery__descr Оборудование и операторы гарантированно доступны в случае необходимости, а их рабочее состояние отслеживается.
						.delivery__item
							+svgTrue('MEP', 'delivery__icon')
							.delivery__text
								span.delivery__title Электрика и сантехника
								p.delivery__descr Доставка осуществляется в точной последовательности для сложной установки, что сокращает или устраняет необходимость в хранении.
					p.delivery__other ... <span class="line-decor"> и все остальные материалы, </span> которые поступают или покидают вашу площадку


				section.reliability#reliability
					.section-header.reliability__header
						.reliability__title
							h2.section-title Надёжность
							+svg('Vector', 'reliability__icon')
						p.section-descr Благодаря надёжному строительству выигрывают все - муниципальные органы выполняют свои обязанности перед гражданами, инвесторы получают сертификаты своих проектов, а генеральные подрядчики получают повышенную репутацию.
					.advantages__body
						.advantages__item
							+svgTrue('cloud', 'advantages__icon')
							p.advantages__title Сниженное загрязнение
							p.advantages__descr При оптимизации логистики требуется меньше поездок, что приводит к снижению выбросов CO2. Выбрасываемый CO2 контролируется, что позволяет ставить цели и вносить ощутимые улучшения.
						.advantages__item
							+svgTrue('round-1', 'advantages__icon')
							p.advantages__title Улучшенное управление отходами
							p.advantages__descr Упрощается сортировка отходов, автоматизируется утилизация отходов, а поврежденные материалы при необходимости используются повторно, что снижает затраты и стимулирует переработку и повторное использование.
						.advantages__item
							+svgTrue('peoples', 'advantages__icon')
							p.advantages__title Улучшенное влияние на общество
							p.advantages__descr Уменьшаются проблемы с дорожным движением и шумовое загрязнение, что улучшает жизнь местного сообщества. Улучшенное обращение с материалами и хранение означает, что рабочие также лучше защищены.
					.reliability__more
						+svg('arms', 'more__icon more__item')
						span.more__text.more__item Надёжная конструкция СтройКонтроль входит в стандартную комплектацию.
						button.button.more__button.more__item.js-modal__link(data-modal="modal-default") Подробнее

			section.app
				.app__bg
					+webpResp('app__pic', 'gatgets', 'png', 1200)
				.wrapper
					.app__content
						.app__text
							h2.section-title.app__title Создан для строительства
							.app__advantages
								ul.app__list
									li.app__item
										p.app__item-title Хорошо виден в любых условиях
										p.app__item-descr Независимо от того, солнечно или темно, найдется подходящий режим экрана. Независимо от того, солнечно или темно, найдется подходящий режим экрана. Независимо от того, солнечно или темно, найдется подходящий режим экрана
									li.app__item
										p.app__item-title Поддержка международных языков
										p.app__item-descr На современной стройке работают люди со всего мира. Язык не является проблемой для СтройКонтроля.
									li.app__item
										p.app__item-title Работает на любом устройстве - мобильном телефоне, планшете, ноутбуке
										p.app__item-descr Люди на разных должностях используют разные устройства. СтройКонтроль автоматически настраивается в соответствии с требованиями. Вы также можете проецировать панели мониторинга живого проекта на настенные экраны.
							.app__buttons
								button.button.app__buttons_item.js-modal__link(data-modal="modal-default") Заказать демо
								button.button.app__button.app__buttons_item.js-modal__link(data-modal="modal-default") Подробнее

					.advantages__body
						.advantages__item
							+svgTrue('study', 'advantages__icon')
							p.advantages__title Привлечение субподрядчика
							p.advantages__descr Для выполнения этой работы вам понадобятся ваши субподрядчики. У нас есть проверенный и надежный процесс для этого.
						.advantages__item
							+svgTrue('engaged', 'advantages__icon')
							p.advantages__title Привлечены ключевые поставщики
							p.advantages__descr У нас уже есть ключевые поставщики, использующие программное обеспечение, что обеспечивает еще больший контроль и прозрачность информации.
						.advantages__item
							+svgTrue('compliance', 'advantages__icon')
							p.advantages__title 100% соответствие
							p.advantages__descr У нас есть безупречный список обеспечения соответствия требованиям, которые необходимы вам для успешного выполнения проекта с помощью СтройКонтроль.


			.wrapper
				section.features#features
					.features__decor.features__item
						.features__header
							h2.section-title Как с нами работать
							p.section-descr Начать работу со СтройКонтроль легко, достаточно заказать демо-версию.
						.features__bg
							+webp('features__pic', 'what', 'png', 'features')
							
					.features__points.features__item
						.point
							.point__number 1
							.point__text
								span.point__title Заказать демо
								span.point__descr Вы увидите презентацию, в которой подробно объясняется, как работает СтройКонтроль для решения задач строительной логистики в таких сложных проектах, как ваш.
						.point
							.point__number 2
							.point__text
								span.point__title Согласование сделки
								span.point__descr Мы обсудим ваш строительный проект и предложим реализацию СтройКонтроль, которая идеально соответствует вашим потребностям и будет иметь для вас ценность.
						.point
							.point__number 3
							.point__text
								span.point__title Подготовка
								span.point__descr Мы полностью обучаем вашу команду тому, как использовать систему, с помощью онлайн-видеоуроков и обеспечиваем постоянную всестороннюю поддержку.
						.point
							.point__number 4
							.point__text
								span.point__title Внедрение и интеграция
								span.point__descr Мы настраиваем программное обеспечение так, чтобы оно точно моделировало вашу площадку, а затем помогаем вам интегрировать его с программным обеспечением Business Intelligence для получения новых мощных аналитических данных.
						.features__buttons.buttons
							button.button.button_primary.buttons-item.js-modal__link(data-modal="modal-default") Заказать демо
							button.button.buttons-item.js-modal__link(data-modal="modal-default") Подробнее

				section.compliments#compliments
					.compliments__header.section-header
						h2.section-title Почему нужно выбрать нас?
						p.section-descr В строительной логистике всегда есть возможности для улучшения.

					.compliments__body
						.compliments__content.compliments__item
							.compliments__points
								.delivery__item.compliments__point
									+svgTrue('fred', 'delivery__icon compliments__icon')
									.delivery__text
										span.delivery__title Отмеченное наградами ПО
										p.delivery__descr Всемирно известное программное обеспечение, признанное государственными учреждениями, инновационными группами и техническими организациями
								.delivery__item.compliments__point
									+svgTrue('great', 'delivery__icon compliments__icon')
									.delivery__text
										span.delivery__title Большой потенциал
										p.delivery__descr Входит в топ-25 самых многообещающих стартапов ConTech по версии Cemex Ventures, Moscow Consulting Group, BuiltWorld и PwC
								.delivery__item.compliments__point
									+svgTrue('leaders', 'delivery__icon compliments__icon')
									.delivery__text
										span.delivery__title Выбор лидеров рынка
										p.delivery__descr Рекомендуемый поставщик технологий для 3 из 10 ведущих генеральных подрядчиков в Европе
								.delivery__item.compliments__point
									+svgTrue('hands', 'delivery__icon compliments__icon')
									.delivery__text
										span.delivery__title Устойчивое развитие и безопасность
										p.delivery__descr Способствует снижению выбросов CO2 и повышает безопасность на месте
						.compliments__quotes.compliments__item.swiper-container
							+webp('compliments__decor', 'commas', 'png', 'decor')
							.swiper-wrapper
								.quote.swiper-slide
									.quote__title.section-title Мы видим огромный потенциал в таких решениях, как СтройКонтроль, и хотим использовать их для улучшения наших строительных процессов.
									.quote__author.author
										.author__photo
											+webp('author__pic', 'author', 'png', 'author')
										.author__text
											span.author__name Волков Матвей
											span.author__position Генеральный директор ООО “СпецСтрой”
									
								.quote.swiper-slide
									.quote__title.section-title Хорошая компания в которой всё что гарантировали все и выполнили, просто супер. Доволен качеством и сроками выполнения работ.
									.quote__author.author
										.author__photo
											+webp('author__pic', 'author-0', 'png', 'author')
										.author__text
											span.author__name Илья Коркишко
											span.author__position Генеральный директор ООО МиксСтройком
							.swiper-pagination
									


				section.rewards
					.rewards__slider
						.swiper-wrapper
							.swiper-slide.rewards__item.reward
								.reward__bg
									+webp('reward__pic', 'reward-1', 'png', 'partner')
								p.reward__name 50 лучших инструментов ConTech
							.swiper-slide.rewards__item.reward
								.reward__bg
									+webp('reward__pic', 'reward-2', 'png', 'partner')
								p.reward__name 25 лучших стартапов ConTech в ЕС
							.swiper-slide.rewards__item.reward
								.reward__bg
									+webp('reward__pic', 'reward-3', 'png', 'partner')
								p.reward__name 50 лучших стартапов Global ConTech
							.swiper-slide.rewards__item.reward
								.reward__bg
									+webp('reward__pic', 'reward-4', 'png', 'partner')
								p.reward__name 2018 - 50 лучших стартапов ЕС PropTech

				section.logistics
					.logistics__bg
						+webpResp('logistics__pic', 'logistics', 'png', 1200)
					.logistics__content
						h2.section-title Готовы оптимизировать логистику доставки для вашего сложного проекта?
						.logistics__buttons
							button.button.button_primary.logistics__buttons_item.js-modal__link(data-modal="modal-default") Заказать демо
							button.button.logistics__button.logistics__buttons_item.js-modal__link(data-modal="modal-form") Связаться с нами

		footer.footer
			.wrapper
				.footer__body
					p.footer__copy.footer__item &copy; 2020 СтройКонтроль, Все права защищены.
					a.footer__confident.footer__item.js-modal__link(data-modal="modal-default")(href="#") Политика конфиденциальности 


		.modal#modal-form
			.modal__overlay(data-close="true")
				.modal__window
					.modal__close(data-close="true")
					.modal__header
						p.modal__title Привет
					.modal__body
						form.modal__form
							.modal__field
								input.modal__input(type="text" required)
								label.modal__label Ваше имя
							.modal__field
								input.modal__input(type="text" required)
								label.modal__label Ваша фамилия
							.modal__field
								input.modal__input(type="text" required)
								label.modal__label Ваш Email
							.modal__field
								input.modal__input(type="text" required)
								label.modal__label Ваш телефон
							.modal__submit
								button.button.modal__button.button_primary(type="submit") Отправить
		.modal#modal-default
			.modal__overlay(data-close="true")
				.modal__default
					.modal__close(data-close="true")
					p.modal__default_text Данная версия сайта носит демонстрационный характер

		script(src="static/js/slider.js" type="module" defer)
		script(src="static/js/main.js" type="module")